# Identity and access parameters
api_fingerprint = "0000000000000000000000000000000000000000000000000000000000"
api_private_key_path = "~/keys/oracleidentitycloudservice_francesco.costa-07-07-11-37.pem"
tenancy_id = "ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
user_id = "ocid1.user.oc1..yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"

# ssh keys
ssh_private_key_path = "~/keys/ssh-key-2021-07-01.key"
ssh_public_key_path = "~/keys/ssh-key-2021-07-01.key.pub"




